In [8]:
import pandas as pd
df = pd.read_csv('..//Bases de datos//EvaluacionesAgropecuarias.csv',sep=';')
df.head()

,Código Dane departamento,Departamento,Código Dane municipio,Municipio,Desagregación cultivo,Cultivo,Ciclo del cultivo,Grupo cultivo,Subgrupo,Año,Periodo,Área sembrada (ha),Área cosechada (ha),Producción (t),Rendimiento (t/ha),Código del cultivo,Nombre científico del cultivo,Estado físico del cultivo
0,15,Boyacá,15001,Tunja,Fresa,Fresa,Permanente,Frutales,Demas frutales,2019,2019,3,3,30,10,2042700,Fragaria vesca,En fresco
1,15,Boyacá,15001,Tunja,Avena,Avena,Transitorio,Cereales,Cereales,2019,2019A,160,160,480,3,1010200,Avena sativa,En fresco
2,15,Boyacá,15001,Tunja,Cebada,Cebada,Transitorio,Cereales,Cereales,2019,2019A,20,20,60,3,1010300,Hordeum vulgare,En fresco
3,15,Boyacá,15001,Tunja,Maíz Tradicional,Maíz,Transitorio,Cereales,Cereales,2019,2019A,180,180,360,2,1010497,Zea mays,En fresco
4,15,Boyacá,15001,Tunja,Cebolla De Bulbo,Cebolla De Bulbo,Transitorio,Hortalizas,Hortalizas de raíz,2019,2019A,120,120,2400,20,1051100,Allium cepa,En fresco

### Visualización de del data set original, cantidad de datos y tipo de datos

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18337 entries, 0 to 18336
Data columns (total 18 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Código Dane departamento       18337 non-null  int64
 1   Departamento                   18337 non-null  object
 2   Código Dane municipio          18337 non-null  int64
 3   Municipio                      18337 non-null  object
 4   Desagregación cultivo          18337 non-null  object
 5   Cultivo                        18271 non-null  object
 6   Ciclo del cultivo              18337 non-null  object
 7   Grupo cultivo                  18337 non-null  object
 8   Subgrupo                       18337 non-null  object
 9   Año                            18337 non-null  int64
 10  Periodo                        18337 non-null  object
 11  Área sembrada (ha)             18337 non-null  object
 12  Área cosechada (ha)            18337 non-null  object
 13  Producción (t)                 18337 non-null  object
 14  Rendimiento (t/ha)             18337 non-null  object
 15  Código del cultivo             18337 non-null  int64
 16  Nombre científico del cultivo  18337 non-null  object
 17  Estado físico del cultivo      18337 non-null  object
dtypes: int64(4), object(14)
memory usage: 2.5+ MB

## Renombre de variables

Se cambio el nombre de las columnas para que estas fueran mas especificas, bajo las normas de pascal case

In [13]:
df.rename(columns={
    'Código Dane departamento':'codDaneDpto'
    ,'Departamento':'Dpto'
    ,'Código Dane municipio':'codDaneMunicipio'
    ,'Municipio':'Municipio'
    ,'Desagregación cultivo':'desagregacionCultivo'
    ,'Cultivo':'Cultivo'
    ,'Ciclo del cultivo':'cicloDelCultivo'
    ,'Grupo cultivo':'grupoCultivo'
    ,'Subgrupo':'Subgrupo'
    ,'Año':'Anio'
    ,'periodo':'periodoSemestre'
    ,'Área sembrada (ha)':'areaSembradaHa'
    ,'Área cosechada (ha)':'areaCosechadaHa'
    ,'Producción (t)':'produccionTon'
    ,'Rendimiento (t/ha)':'rendimientoTonHa'
    ,'Código del cultivo':'codCultivo'
    ,'Nombre científico del cultivo':'nombreCientificoCultivo'
    ,'Estado físico del cultivo':'estadoFisicoCultivo'
    },
    inplace=True
    )

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18337 entries, 0 to 18336
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   codDaneDpto              18337 non-null  int64
 1   Dpto                     18337 non-null  object
 2   codDaneMunicipio         18337 non-null  int64
 3   Municipio                18337 non-null  object
 4   desagregacionCultivo     18337 non-null  object
 5   Cultivo                  18271 non-null  object
 6   cicloDelCultivo          18337 non-null  object
 7   grupoCultivo             18337 non-null  object
 8   Subgrupo                 18337 non-null  object
 9   Anio                     18337 non-null  int64
 10  Periodo                  18337 non-null  object
 11  areaSembradaHa           18337 non-null  object
 12  areaCosechadaHa          18337 non-null  object
 13  produccionTon            18337 non-null  object
 14  rendimientoTonHa         18337 non-null  object
 15  codCultivo               18337 non-null  int64
 16  nombreCientificoCultivo  18337 non-null  object
 17  estadoFisicoCultivo      18337 non-null  object
dtypes: int64(4), object(14)
memory usage: 2.5+ MB

## Datos Nulos

Resvisión general de campos nulos

In [15]:
df.isnull().sum()

codDaneDpto                 0
Dpto                        0
codDaneMunicipio            0
Municipio                   0
desagregacionCultivo        0
Cultivo                    66
cicloDelCultivo             0
grupoCultivo                0
Subgrupo                    0
Anio                        0
Periodo                     0
areaSembradaHa              0
areaCosechadaHa             0
produccionTon               0
rendimientoTonHa            0
codCultivo                  0
nombreCientificoCultivo     0
estadoFisicoCultivo         0
dtype: int64

Al hacer una revision de los datos se encontro que la columna **Cultivo** tiene 66 registros vacios,ya que **desagregacionCultivo** esta relacionada con la columna cultivo allí se visualiza que es una categoria general *Otros*, se decide cambiar este campo vacio de cultivo por el registros del  campo de desagregacionCultivo.

In [16]:
df['Cultivo'] = df['Cultivo'].fillna(df['desagregacionCultivo']) # sustitución
df.isnull().sum()

codDaneDpto                0
Dpto                       0
codDaneMunicipio           0
Municipio                  0
desagregacionCultivo       0
Cultivo                    0
cicloDelCultivo            0
grupoCultivo               0
Subgrupo                   0
Anio                       0
Periodo                    0
areaSembradaHa             0
areaCosechadaHa            0
produccionTon              0
rendimientoTonHa           0
codCultivo                 0
nombreCientificoCultivo    0
estadoFisicoCultivo        0
dtype: int64

Validación del cambio realizado

In [17]:
df_prueba = df[(df['Cultivo']=='Otros cítricos') | (df['Cultivo']=='Otros caducifolios')]
df_prueba['Cultivo']

97          Otros cítricos
326         Otros cítricos
338         Otros cítricos
639         Otros cítricos
652         Otros cítricos
               ...
6334        Otros cítricos
6619    Otros caducifolios
6633        Otros cítricos
6752        Otros cítricos
6771        Otros cítricos
Name: Cultivo, Length: 66, dtype: object

In [18]:
df.Periodo.value_counts()

2022     1720
2021     1674
2022A    1654
2021A    1612
2022B    1557
2020A    1553
2019A    1526
2020     1510
2019     1430
2021B    1394
2020B    1368
2019B    1339
Name: Periodo, dtype: int64

se realiza un cambio de los registros 'Periodo' por su valor alfabetico correspondiente al semestre del año
* A = Primer semestre
* B = Segundo semestre
* C = año completo

In [19]:
diccionario_periodo = {
    '2022':'C'
    ,'2021':'C'
    ,'2022A':'A'
    ,'2021A':'A'
    ,'2022B':'B'
    ,'2029A':'A'
    ,'2019A':'A'
    ,'2020':'C'
    ,'2019':'C'
    ,'2021B':'B'
    ,'2020B':'B'
    ,'2019B':'B'
}

In [20]:
df[['Anio','Periodo']].head(10)

   Anio Periodo
0  2019    2019
1  2019   2019A
2  2019   2019A
3  2019   2019A
4  2019   2019A
5  2019   2019A
6  2019   2019A
7  2019   2019A
8  2019   2019A
9  2019   2019B

In [21]:
df['Periodo'] = df['Periodo'].map(diccionario_periodo)

In [22]:
df[['Anio','Periodo']].head(10)

   Anio Periodo
0  2019       C
1  2019       A
2  2019       A
3  2019       A
4  2019       A
5  2019       A
6  2019       A
7  2019       A
8  2019       A
9  2019       B

In [23]:
df.head()

,codDaneDpto,Dpto,codDaneMunicipio,Municipio,desagregacionCultivo,Cultivo,cicloDelCultivo,grupoCultivo,Subgrupo,Anio,Periodo,areaSembradaHa,areaCosechadaHa,produccionTon,rendimientoTonHa,codCultivo,nombreCientificoCultivo,estadoFisicoCultivo
0,15,Boyacá,15001,Tunja,Fresa,Fresa,Permanente,Frutales,Demas frutales,2019,C,3,3,30,10,2042700,Fragaria vesca,En fresco
1,15,Boyacá,15001,Tunja,Avena,Avena,Transitorio,Cereales,Cereales,2019,A,160,160,480,3,1010200,Avena sativa,En fresco
2,15,Boyacá,15001,Tunja,Cebada,Cebada,Transitorio,Cereales,Cereales,2019,A,20,20,60,3,1010300,Hordeum vulgare,En fresco
3,15,Boyacá,15001,Tunja,Maíz Tradicional,Maíz,Transitorio,Cereales,Cereales,2019,A,180,180,360,2,1010497,Zea mays,En fresco
4,15,Boyacá,15001,Tunja,Cebolla De Bulbo,Cebolla De Bulbo,Transitorio,Hortalizas,Hortalizas de raíz,2019,A,120,120,2400,20,1051100,Allium cepa,En fresco

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18337 entries, 0 to 18336
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   codDaneDpto              18337 non-null  int64
 1   Dpto                     18337 non-null  object
 2   codDaneMunicipio         18337 non-null  int64
 3   Municipio                18337 non-null  object
 4   desagregacionCultivo     18337 non-null  object
 5   Cultivo                  18337 non-null  object
 6   cicloDelCultivo          18337 non-null  object
 7   grupoCultivo             18337 non-null  object
 8   Subgrupo                 18337 non-null  object
 9   Anio                     18337 non-null  int64
 10  Periodo                  16784 non-null  object
 11  areaSembradaHa           18337 non-null  object
 12  areaCosechadaHa          18337 non-null  object
 13  produccionTon            18337 non-null  object
 14  rendimientoTonHa         18337 non-null  object
 15  codCultivo               18337 non-null  int64
 16  nombreCientificoCultivo  18337 non-null  object
 17  estadoFisicoCultivo      18337 non-null  object
dtypes: int64(4), object(14)
memory usage: 2.5+ MB

In [25]:
df.to_csv('..//Bases de datos/EvaluacionAgro.csv',sep=';',index=False)